.tableContainer {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  .tableHeader, .tableData {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  